<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h2><%= title %> </h2>
  <form id="new-form" action="/flights/<%= flight.id %>?_method=PUT" method="POST">

    <label for="airline-input">Airline</label>
    <input value="<%= flight.airline %> " type="text" name="airline" id="airline-input">

    <label for="flight-number-input">Flight Number</label>
    <input value="<%= flight.flightNo %>" type="number" name="flightNo" id="flight-number-input">

    <label for="airport-input">Airport</label>
    <select value="<%= flight.airport %>" name="airport" id="airport-input">
      <option value="AUS">AUS</option>  
      <option value="DFW">DFW</option>  
      <option value="DEN">DEN</option>  
      <option value="LAX">LAX</option>  
      <option value="SAN">SAN</option>  
    </select>

    <label for="departs-input">Departs</label>
    <input value="<%= flight.departs %>" type="date" name="departs" id="departs-input">

    <button type="submit">Save</button>

  </form>
</main>

<%- include('../partials/footer') %>