<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<h1>Flight Details</h1>
<a href="/flights/<%= flight._id %>/edit">Edit Flight Details</a>

<h3>Airline:</h3>
<p><%= flight.airline %></p>

<h3>Flight Number</h3>
<p><%= flight.flightNo %> </p>

<h3>Airport</h3>
<p><%= flight.airport %></p>

<h3>Departs</h3>
<p><%= flight.departs %> </p>

<h2>Tickets</h2>

<form 
    id="add-ticket-form"  
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
>
  <label for="seat-input">Seat</label>
  <input type="text" name="seat" id="seat-input">
  
  <label for="price-input">Price</label>
  <input type="text" name="price" id="price-input">

  <button type="submit">Add Ticket</button>

</form>

<% if (flight.tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(ticket => { %>
        <tr>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Tickets Yet</h3>
<% } %>


<%- include('../partials/footer') %>